<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg">
            <h1>Line HR16</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg">
            <div id="graficaTurno">
                <h2>Production per Shift</h2>
                <div id="loadingTurno" class="loader"></div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <br>

     <div class="row">
        <div class="col-sm-12 col-lg">
            <div id="graficaSemana">
                <h2>Production per Week</h2>
                <div id="loadingSemana" class="loader"></div>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>

       <br>
    <br>
    <br>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data-2012-2022.min.js"></script>
    <script src="js/hr16.js"></script>