<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg">
            <h2>Etiqueta a Registrar</h2>
            <form>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Serial</span>
                    </div>
                    <input type="number" class="form-control" autofocus="autofocus" id="serialEtiqueta"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
                <br>
                <div class="form-group col-md-4">
                    <label for="inputUso">Uso de Etiqueta</label>
                    <select id="inputUso" class="form-control">
                        <option selected>Seleccionar una...</option>
                        <option>Prototipos</option>
                        <option>Reemplazo</option>
                    </select>
                </div>
                <br>
                <button class="btn btn-primary" type="submit" id="submit">Registrar</button>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-lg" id="Resultado">
            
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/pruebas.js"></script>