.comentario{
  color:red;
  font-size: 30px;

}

.resultadoImagen{
  height:30%;
  width:30%;
}

.comentariobueno{
  color:green;
  font-size: 30px;

}

.footer{
  position: fixed;
  left:0;
  bottom:0;

  
    width: 100%;
    height: 70px;
    line-height: 60px;
  background-color: #1f1f23;
}

.check{
  color: #c0e48e;
}

.ban{
  color: #ff6b6b;
}








