.comentario{
  color:red;
  font-size: 30px;

}

.resultadoImagen{
  height:30%;
  width:30%;
}

.comentariobueno{
  color:green;
  font-size: 30px;

}

.footer{
  position: fixed;
  left:0;
  bottom:0;
  display: table-row;
    width: 100%;
    height: auto;
  background-color: #1f1f23;
}

.check{
  color: #c0e48e;
}

.ban{
  color: #ff6b6b;
}


@media screen and (max-width:600px){


h1{
  font-size:4vw;
}

h2{
  font-size:4vw;
}

th{
  font-size:3vw;
}

td{
  font-size:3vw;
}

}








